
@using KosanCrisTrips.Web.Models.Authentication
@model User

@{ 
    Layout = null;
}

<div class="log-form">
    <h2>Change Password</h2>

    @using (Html.BeginForm("SavePassword", "Login", FormMethod.Post))
    {
        //Html.TextBoxFor(m => m.EmailId, new { @title = "emailId", @placeholder = "Email Id" });
        //Html.TextBoxFor(m => m.PhoneNumber, new { @title = "phoneNumber", @placeholder = "Phone Number" });
        Html.HiddenFor(m => m.EmailId);
        Html.HiddenFor(m => m.PhoneNumber);
        Html.HiddenFor(m => m.UserName);
        //Html.TextBoxFor(m => m.OneTimePassword, new { @title = "oneTimePassword", @placeholder = "Mobile OTP" });
        //Html.TextBoxFor(m => m.EmailOtp, new { @title = "Email OTP", @placeholder = "Email OTP" });
        //Html.PasswordFor(m => m.Password);
        //Html.PasswordFor(m => m.ConfirmPassword);
        <input type="text" title="onetimepassword" placeholder="Mobile OTP" name="OneTimePassword" />
        <input type="text" title="EmailOtp" placeholder="Email OTP" name="EmailOtp" />
        <input type="password" title="Password" placeholder="New Password" name="Password" />
        <input type="password" title="ConfirmPassword" placeholder="Confirm Password" name="ConfirmPassword" />
        <input type="hidden" name="EmailId" value="@Model.EmailId" />
        <input type="hidden" name="PhoneNumber" value="@Model.PhoneNumber"/>
        <input type="hidden" name="UserId" value="@Model.UserId" />

        <button type="submit" class="btn"> Save Password</button>
    }

</div>

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet/less" href="~/Content/Custom/login-form.less" />
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/less.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

