
@using KosanCrisTrips.Web.Models.Authentication
@model User

@{ 
    Layout = null;
}
<div class="log-form">
    <h2>Password Reset</h2>

    @using (Html.BeginForm("ChangePassword", "Login", FormMethod.Post))
    {
        //Html.TextBoxFor(m => m.EmailId, new { @title = "emailId", @placeholder = "Email Id" });
        //Html.TextBoxFor(m => m.PhoneNumber, new { @title = "phoneNumber", @placeholder = "Phone Number" });
        <input type="text" title="emailid" placeholder="Email Id" name="EmailId" />
        <input type="text" title="phonenumber" placeholder="Phone Number" name="PhoneNumber" />
        //Html.HiddenFor(m => m.UserName);
        <input type="hidden" name="UserId" value="@Model.UserId" />
        <input type="hidden" name="UserName" value="@Model.UserName" />
        <button type="submit" class="btn"> Reset Password</button>
    }

</div>

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet/less" href="~/Content/Custom/login-form.less" />
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/less.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

