@using KosanCrisTrips.Web.Models.Authentication
@model User

@{
    Layout = null;

    var emailId = Model != null ? Model.EmailId : string.Empty;

    string disableControls = string.Empty;
    if (ViewBag.DisplayOtpControl)
    {
        disableControls = "disabled='disabled'";
    }
}

@*<fieldset  class="col-sm-12">
        <legend class="scheduler-border"> Enter User Credentials</legend>
        <div class="col-sm-6">
            @using (Html.BeginForm("Index", "Login", FormMethod.Post))
            {

                <div class="row">
                    <div class="col-sm-6">
                        @Html.LabelFor(x => x.EmailId, "User Name")
                        @Html.TextBoxFor(x => x.EmailId)
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        @Html.LabelFor(x => x.Password, "Password")
                        @Html.PasswordFor(x => x.Password)
                    </div>
                </div>
                <div class="row"></div>
                <div class="row">
                    <input type="submit" value="Log In">
                </div>
            }
            <a href=""> Forgot password? </a>
        </div>
    </fieldset>*@

<br />
<br />

@*<form action="Index" method="post"></form>*@

<div class="log-form">
    <h2>Login to your account</h2>
    @using (Ajax.BeginForm("Index", "Login", new AjaxOptions() { HttpMethod = "Post" }))
    {

        <input type="text" title="username" placeholder="username" name="EmailId"  @disableControls />
        <input type="password" title="password" placeholder="password" name="Password" @disableControls />
        if (!ViewBag.DisplayOtpControl)
        {
        <button type="submit" class="btn"> Login</button>
        <a class="forgot" href="#">Forgot Username?</a>
        }
        if (ViewBag.DisplayOtpControl)
        {
            ViewBag.IsOtpRequested = true;
            Html.RenderPartial("OneTimePasswordView");
        }
    }
    </div><!--end log form -->


    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet/less" href="~/Content/Custom/login-form.less" />
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/less.min.js"></script>
    <style>
        legend.scheduler-border {
            width: inherit; /* Or auto */
            padding: 0 10px; /* To give a bit of padding on the left and right */
            border-bottom: none;
        }



        /************/
    </style>
