
<div>
    <br/>
    <input type="text" title="onetimepassword" placeholder="One Time Password" name="OneTimePassword" />
    <button type="submit" class="btn col-sm-3"> Submit OTP</button>
    <a class="btn col-sm-3 pull-right"> Resend OTP</a>
</div>