@using System.Web.Mvc;
@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <title>Kosan Trips</title>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="~/Content/custom themes/matrix-style.css" rel="stylesheet" />
    <link href="~/Content/custom themes/matrix-media.css" rel="stylesheet" />
    <link href="~/Content/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/custom themes/jquery.gritter.css" rel="stylesheet" />
    <link href="~/Content/glyphicons.css" rel="stylesheet" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700,800" rel="stylesheet" type="text/css">

    <link href="~/Content/Custom/custom-styles.css" rel="stylesheet" />
    <link href="~/Content/Custom/switch-style.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Cardo" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Griffy|Hanalei|Monoton|Piedra" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster">
    <script src="~/js/jquery.min.js"></script>

</head>
<!--<body class="skin-it sidebar-mini fixed">-->
<body class="skin-it fixed sidebar-mini sidebar-collapse">
    @*<div id="header" style=" font-family: Lobster, serif; padding-left: 10px; padding-top: 1px;">*@
        <div id="header" style="font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif; padding-left: 10px; padding-top: 1px; ">
            @*  <h1 style="line-height: 200px;"><a href="#">KOSAN TRIPS</a></h1>*@
            @* <h2>Kosan TRIPs</h2>*@
            @*<h2><span style="color:#1E90FF">K</span><span style="color:#fb071f">O</span><span style="color:cyan">S</span><span style="color:#f49212">A</span><span style="color:#0df334">N</span> <span style="color:#ffffff;">Trips</span></h2>*@
            <h2><span style="color:#1E90FF">K</span><span style="color:#fb071f">O</span><span style="color:cyan">S</span><span style="color:#f49212">A</span><span style="color:#0df334">N</span> <span style="color:#ffffff;font-family: 'Lobster', serif;">Trips</span></h2>
        </div>

    @* http://localhost:1430/widgets.html *@
    <div id="user-nav" class="navbar navbar-inverse">
        <ul class="nav navbar-nav" style="width: auto; margin: 0px;font-family: Cardo, serif;"">
            <li class="dropdown" id="profile-messages">
                <a title="" href="#" data-toggle="dropdown" data-target="#profile-messages" class="dropdown-toggle"><i class="icon icon-user"></i>  <span class="text">Welcome User</span><b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#"><i class="icon-user"></i> My Profile</a></li>
                    <li class="divider"></li>
                    <li><a href="#"><i class="icon-check"></i> My Tasks</a></li>
                    <li class="divider"></li>
                    <li><a href="login.html"><i class="icon-key"></i> Log Out</a></li>
                </ul>
            </li>
            <li class="dropdown" id="menu-messages">
                <a href="#" data-toggle="dropdown" data-target="#menu-messages" class="dropdown-toggle"><i class="icon icon-envelope"></i> <span class="text">Messages</span> <span class="label label-important">5</span> <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a class="sAdd" title="" href="#"><i class="icon-plus"></i> new message</a></li>
                    <li class="divider"></li>
                    <li><a class="sInbox" title="" href="#"><i class="icon-envelope"></i> inbox</a></li>
                    <li class="divider"></li>
                    <li><a class="sOutbox" title="" href="#"><i class="icon-arrow-up"></i> outbox</a></li>
                    <li class="divider"></li>
                    <li><a class="sTrash" title="" href="#"><i class="icon-trash"></i> trash</a></li>
                </ul>
            </li>
            <li class=""><a title="" href="#"><i class="icon icon-cog"></i> <span class="text">Settings</span></a></li>
            <li class=""><a title="" href="login.html"><i class="icon icon-share-alt"></i> <span class="text">Logout</span></a></li>
        </ul>
            </div>
    </div>
    <div id="sidebar">
        <a href="#" class="visible-phone"><i class="icon icon-home"></i>Dashboard</a>
        <ul style="display: block;margin-top: 5px;font-family: 'Cardo', serif;font-size:15px;">
            <li class="active"><a href="index.html"><i class="icon icon-home"></i> <span>Dashboard</span></a> </li>
            <li class="submenu">
                <a href="charts.html"><i class="fa fa-book"></i> <span>Knowledge Share</span></a>
                <ul>
                    <li><a href="#">Service Report Format</a> </li>
                    <li><a href="#">Key Instructions</a> </li>
                </ul>
            </li>
            <li class="submenu">
                <a href="widgets.html"><i class="fa fa-calendar"></i> <span>Schedule</span></a>
                <ul>
                    <li><a href="#">Create Schedule</a> </li>
                    <li><a href="#">Schedule Grid</a> </li>
                    <li><a href="#">Upload Service Report</a> </li>
                    <li><a href="#">Close Schedule</a> </li>
                    <li><a href="#">Prepare System Report</a> </li>
                </ul>
            </li>
            <li class="submenu">
                <a href="tables.html"><i class="fa fa-plane"></i> <span>Travel</span></a>
                <ul>
                    <li><a href="#">Tickets Upload/Download</a> </li>
                    <li><a href="#">Travel Statement</a> </li>
                </ul>
            </li>
            <li><a href="#"><i class="fa fa-bar-chart"></i> <span>Reports</span></a></li>
            @*<li class="submenu">
                    <a href="#"><i class="icon icon-th-list"></i> <span>Forms</span> <span class="label label-important">3</span></a>
                    <ul>
                        <li><a href="form-common.html">Basic Form</a></li>
                        <li><a href="form-validation.html">Form with Validation</a></li>
                        <li><a href="form-wizard.html">Form with Wizard</a></li>
                    </ul>
                </li>*@
            @*<li><a href="buttons.html"><i class="icon icon-tint"></i> <span>Buttons &amp; icons</span></a></li>
                <li><a href="interface.html"><i class="icon icon-pencil"></i> <span>Eelements</span></a></li>
                <li class="submenu">
                    <a href="#"><i class="icon icon-file"></i> <span>Addons</span> <span class="label label-important">5</span></a>
                    <ul>
                        <li><a href="index2.html">Dashboard2</a></li>
                        <li><a href="gallery.html">Gallery</a></li>
                        <li><a href="calendar.html">Calendar</a></li>
                        <li><a href="invoice.html">Invoice</a></li>
                        <li><a href="chat.html">Chat option</a></li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="#"><i class="icon icon-info-sign"></i> <span>Error</span> <span class="label label-important">4</span></a>
                    <ul>
                        <li><a href="error403.html">Error 403</a></li>
                        <li><a href="error404.html">Error 404</a></li>
                        <li><a href="error405.html">Error 405</a></li>
                        <li><a href="error500.html">Error 500</a></li>
                    </ul>
                </li>
                <li class="content">
                    <span>Monthly Bandwidth Transfer</span>
                    <div class="progress progress-mini progress-danger active progress-striped">
                        <div style="width: 77%;" class="bar"></div>
                    </div>
                    <span class="percent">77%</span>
                    <div class="stat">21419.94 / 14000 MB</div>
                </li>
                <li class="content">
                    <span>Disk Space Usage</span>
                    <div class="progress progress-mini active progress-striped">
                        <div style="width: 87%;" class="bar"></div>
                    </div>
                    <span class="percent">87%</span>
                    <div class="stat">604.44 / 4000 MB</div>
                </li>*@
        </ul>
    </div>
    <div id="content" style="margin-top: 10px;">
        <!--breadcrumbs-->
        <div id="content-header">
            <div id="breadcrumb"> <a href="index.html" class="tip-bottom" data-original-title="Go to Home"><i class="icon-home"></i> Home</a></div>
        </div>
        <!--End-breadcrumbs-->
        <!--Action boxes-->
        <div class="container-fluid" style="background-color: whitesmoke;">
            <!--End-Action boxes-->
            @RenderBody()
        </div>
    </div>
    <div id="footer" >
        @*<footer class="main-footer">

        </div>
                <strong>Copyright © 2017 <a href="http://www.kosancrisplant.com/">kosan crisplant</a>.</strong> All rights reserved.
            </footer>*@
        @*<div class="container-fluid" style="color: gray;margin-bottom: -100px; margin-left: -60px; margin-right: -60px; /* width: 100%; */ text-align: center;
        ">
                    <div class="panel panel-default">
                        <div class="panel-footer"><strong>2017 © <a href="http://www.kosancrisplant.com/">kosan crisplant</a>.</strong> All rights reserved.</div>
                    </div>
                </div>*@



    <strong>2017 © <a href="http://www.kosancrisplant.com/">kosan crisplant</a>.</strong> All rights reserved. </div>
    <script src="~/js/excanvas.min.js"></script>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery.ui.custom.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.flot.min.js"></script>
    <script src="~/js/jquery.flot.resize.min.js"></script>
    <script src="~/js/jquery.peity.min.js"></script>
    <script src="~/js/fullcalendar.min.js"></script>
    <script src="~/js/matrix.js"></script>
    <script src="~/js/matrix.dashboard.js"></script>
    <script src="~/js/jquery.gritter.min.js"></script>
    <script src="~/js/matrix.interface.js"></script>
    <script src="~/js/matrix.chat.js"></script>
    <script src="~/js/jquery.validate.js"></script>
    <script src="~/js/matrix.form_validation.js"></script>
    <script src="~/js/jquery.wizard.js"></script>
    <script src="~/js/jquery.uniform.js"></script>
    <script src="~/js/select2.min.js"></script>
    <script src="~/js/matrix.popover.js"></script>
    <script src="~/js/jquery.dataTables.min.js"></script>
    <script src="~/js/matrix.tables.js"></script>

    <script src="~/Scripts/Custom/switch.min.js"></script>
    <script src="~/Scripts/Custom/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker();
            });
    </script>
    <script type="text/javascript">
            $(function () {
                $('#datetimepicker2').datetimepicker();
            });
    </script>

  
</body>

</html>
